<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">增加发盘</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>NAS</label>
        <app-amount-input [(amount)]="value" [decimals]="18" #valueInput></app-amount-input>
      </div>
      <div class="col-md-4 mb-3 text-center">
        BID
      </div>
      <div class="col-md-4 mb-3">
        <label>{{ tokenService.symbol }}</label>
        <app-amount-input [(amount)]="amount" [decimals]="tokenService.decimals" #amountInput></app-amount-input>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <button class="btn btn-primary" [disabled]="valueInput.isInvalid || amountInput.isInvalid" (click)="payCurrency()">支付 NAS 挂单</button>
      </div>
      <div class="col-md-4 mb-3 text-center">
        {{ ratio }}
      </div>
      <div class="col-md-4 mb-3">
        <button class="btn btn-primary" [disabled]="valueInput.isInvalid || amountInput.isInvalid" (click)="payToken()">支付 {{ tokenService.symbol }} 挂单</button>
      </div>
    </div>
  </div>
</div>
