.small-icon
  width 16px
  height 16px

.order-item
  flex 0 0 50%
  padding 5px
  max-width 50%

  &.order-item-detail
    flex 0 0 20%

  @media (max-width 768px)
    flex 0 0 100%
    padding 5px 0
    max-width 100%

    &.order-item-detail
      flex 0 0 50%
      padding 5px
